﻿    @{
        Layout = null;
    }
    <h2>DataSourceType</h2>
    <p>
        <a href="#/DataSourceType/Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Direction
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td>
                {{ item.Id }}
            </td>
            <td>
                {{ item.Direction }}
            </td>
            <td>
                {{ item.Description }}
            </td>
            <td>
                <a ng-href="#/DataSourceType/Edit/{{item.Id}}">Edit</a> |
                <a ng-href="#/DataSourceType/{{item.Id}}">Details</a> |
                <a ng-href="#/DataSourceType/Delete/{{item.Id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    
    </table>
