﻿@{
    Layout = null;
}
    <h2>DataSourceType</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{DataSourceType}}?
            <div class="form-group">
                <label for="Direction" class = "control-label col-md-2">
                Direction
                </label>
                <div class="col-md-10">
                    {{data.Direction}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/DataSourceType">Back to List</a>
    </div>
