﻿@{
    Layout = null;
}
    <h2>DataSourceType</h2>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2"> Id </label>
                <div class="col-md-10">
                    <span ng-bind="data.Id"></span>
                    <div id="validation_for_Id"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Direction" class = "control-label col-md-2"> Direction </label>
                <div class="col-md-10">
                    <span ng-bind="data.Direction"></span>
                    <div id="validation_for_Direction"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2"> Description </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Description" id="Description"  class="form-control"/>
                    <div id="validation_for_Description"></div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    </form>
    
    <div>
        <a href="#/DataSourceType">Back to List</a>
    </div>
