﻿@{
    Layout = null;
}
    <h2>DataSourceType Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2">
                Id
                </label>
                <div class="col-md-10">
                    {{data.Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Direction" class = "control-label col-md-2">
                Direction
                </label>
                <div class="col-md-10">
                    {{data.Direction}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/DataSourceType">Back to List</a>
    </div>
