﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralized Analytics Import</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/" class="navbar-brand">Centralized Analytics</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-controller="MainMenu">
                    <li ng-repeat="module in modules">
                        <a href="#/{{module}}" class="navbar-brand">{{module}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ng-view />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.js"></script>
    <!--
        You must add the bundle for the angular by hand
        Just paste:
            bundles.Add(new ScriptBundle("~/bundles/angular-app").Include("~/Scripts/app/*.js"));
        right into BundleConfig.cs 
    -->
    @Scripts.Render("~/bundles/angular-app")
    <script type="text/javascript">
        var modules = modules || [];
        angular.module('app', modules);
        angular.module('app').controller('MainMenu', function ($scope) {
            $scope.modules = modules;
        });
        angular.module('app').config(function ($httpProvider, $provide) {
            $provide.factory('prefixHttpRequest', function () {
                return {
                    request: function (config) {
                        console.log(config.url);
                        if (config.url && config.url[0] === '/') {
                            config.url = '/analytics' + config.url;
                            console.log('new url',config.url);
                        }
                        
                        return config
                    }
                }
            });
            $httpProvider.interceptors.push('prefixHttpRequest');
            console.log('config', arguments);
        });
    </script>
</body>
</html>
