﻿@{
    Layout = null;
}
    <h2>Metric</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{Metric}}?
            <div class="form-group">
                <label for="DataDestination" class = "control-label col-md-2">
                 DataDestination
                </label>
                <div class="col-md-10">
                    {{data.DataDestination_Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataSource" class = "control-label col-md-2">
                 DataSource
                </label>
                <div class="col-md-10">
                    {{data.DataSource_Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Name" class = "control-label col-md-2">
                Name
                </label>
                <div class="col-md-10">
                    {{data.Name}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Configuration" class = "control-label col-md-2">
                Configuration
                </label>
                <div class="col-md-10">
                    {{data.Configuration}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Schedule" class = "control-label col-md-2">
                Schedule
                </label>
                <div class="col-md-10">
                    {{data.Schedule}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="EnableAggregation" class = "control-label col-md-2">
                EnableAggregation
                </label>
                <div class="col-md-10">
                    {{data.EnableAggregation}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2">
                CreateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.CreateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2">
                UpdateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.UpdateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/Metric">Back to List</a>
    </div>
