﻿@{
    Layout = null;
}
<div ng-controller="Metric_edit_GA" class="form-group">
    <label for="GA_Query" class="control-label col-md-2">Api Query Uri</label>
    <div class="col-md-10">
        <input type="text" ng-model="data.Query" id="GA_Query" class="form-control" />
        <div id="validation_for_Description"></div>
        <p class="help-block">
            Enter the url for the Google Analytics Api query.
            Use <a href="https://ga-dev-tools.appspot.com/query-explorer/" target="_blank">Query Explorer</a> to construct and run a query.
            Copy the Api Query URI and enter it here.
        </p>
    </div>
</div>
   
