﻿@{
    Layout = null;
}
    <h2>Metric Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="DataDestination" class = "control-label col-md-2">
                 DataDestination
                </label>
                <div class="col-md-10">
                    <a ng-href="#TenantDataSource/{{DataDestination }}" >
                    {{data.DataDestination_Id}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataSource" class = "control-label col-md-2">
                 DataSource
                </label>
                <div class="col-md-10">
                    <a ng-href="#TenantDataSource/{{DataSource }}" >
                    {{data.DataSource_Id}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2">
                Id
                </label>
                <div class="col-md-10">
                    {{data.Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Name" class = "control-label col-md-2">
                Name
                </label>
                <div class="col-md-10">
                    {{data.Name}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="TenantId" class = "control-label col-md-2">
                TenantId
                </label>
                <div class="col-md-10">
                    {{data.TenantId}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataSourceId" class = "control-label col-md-2">
                DataSourceId
                </label>
                <div class="col-md-10">
                    {{data.DataSourceId}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataDestinationId" class = "control-label col-md-2">
                DataDestinationId
                </label>
                <div class="col-md-10">
                    {{data.DataDestinationId}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Configuration" class = "control-label col-md-2">
                Configuration
                </label>
                <div class="col-md-10">
                    {{data.Configuration}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Schedule" class = "control-label col-md-2">
                Schedule
                </label>
                <div class="col-md-10">
                    {{data.Schedule}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="EnableAggregation" class = "control-label col-md-2">
                EnableAggregation
                </label>
                <div class="col-md-10">
                    {{data.EnableAggregation}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2">
                CreateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.CreateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2">
                UpdateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.UpdateDateUTC}}
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/Metric">Back to List</a>
    </div>
