﻿    @{
        Layout = null;
    }
    <h2>Metric {{tenantId}}/{{tenantDataSourceId}}</h2>
   <div class="container" ng-if="showMetricEditDialog" ng-controller="TenantDataSource_Metric_edit" ng-include="'/Static/Metric_edit'">
    </div>
    <table class="table">
        <thead>
        <tr>

            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                TenantId
            </th>
            <th>
                DataSourceId
            </th>
            <th>
                DataDestinationId
            </th>
            <th>
                Configuration
            </th>
            <th>
                Schedule
            </th>
            <th>
                EnableAggregation
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">

            <td>
                {{ item.Id }}
            </td>
            <td>
                {{ item.Name }}
            </td>
            <td>
                {{ item.Description }}
            </td>
            <td>
                {{ item.TenantId }}
            </td>
            <td>
                {{ item.DataSourceId }}
            </td>
            <td>
                {{ item.DataDestinationId }}
            </td>
            <td>
                <code style="max-width:25em;overflow:auto;display:block;">
                    {{ item.Configuration }}
                </code>
            </td>
            <td>
                {{ item.Schedule }}
            </td>
            <td>
                {{ item.EnableAggregation }}
            </td>
            <td>
                <dl class="list-inline">
                    <dt>Create Date (UTC)</dt><dd>{{ item.CreateDateUTC }}</dd>
                    <dt>Update Date (UTC)</dt><dd>{{ item.UpdateDateUTC }}</dd>
                </dl>
            </td>
            <td>
                
            </td>
            <td>
                <a ng-href="#/Metric/Edit/{{item.Id}}">Edit</a> |
                <a ng-href="#/Metric/Delete/{{item.Id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    
    </table>
