﻿@{
    Layout = null;
}
    <h2>Metric</h2>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2"> Id </label>
                <div class="col-md-10">
                    <span ng-bind="data.Id"></span>
                    <div id="validation_for_Id"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Name" class = "control-label col-md-2"> Name </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Name" id="Name"  class="form-control"/>
                    <div id="validation_for_Name"></div>
                    <p class="help-block">A name to help rememer what this metric is.</p>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2"> Description </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Description" id="Description"  class="form-control"/>
                    <div id="validation_for_Description"></div>
                    <p class="help-block">Describe this metric.</p>
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataDestinationId" class = "control-label col-md-2"> DataDestination </label>
                <div class="col-md-10">
                    <select ng-model="data.DataDestinationId" id="DataDestinationId"  class="form-control"
                            ng-options="option.Id as option.Id for option in DataDestination_options">
                        <option value="">-- choose DataDestination --</option>
                    </select>
                    <div id="validation_for_DataDestinationId"></div>
                    <p class="help-block">Choose where to put the data once it's been downloaded.</p>
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataSourceId" class = "control-label col-md-2"> DataSource </label>
                <div class="col-md-10">
                    <span ng-bind="data.DataSourceId"></span>
                    <div id="validation_for_DataSourceId"></div>
                </div>
            </div>
    

    
            <ng-include ng-if="dataSourceTypeId" src="'Static/Metric_Edit_' + dataSourceTypeId"></ng-include>
            <div class="form-group" ng-if="!dataSourceTypeId">

                <label for="Configuration" class="control-label col-md-2"> Configuration </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Configuration" id="Configuration" class="form-control" />
                    <div id="validation_for_Configuration"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Schedule" class = "control-label col-md-2"> Schedule </label>
                <div class="col-md-10">
                    <label class="radio-inline"><input type="radio" ng-model="data.Schedule" name="Schedule" value="* * * * *"/>Minutely</labelclass="radio-inline">
                    <label class="radio-inline"><input type="radio" ng-model="data.Schedule" name="Schedule" value="0 * * * *" />Hourly</label>
                    <label class="radio-inline"><input type="radio" title="midnight every day" ng-model="data.Schedule" name="Schedule" value="0 0 * * *" />Daily</label>
                    <label class="radio-inline"><input type="radio" title="midnight every Monday" ng-model="data.Schedule" name="Schedule" value="0 0 * * 1" />Weekly</label>
                    <label class="radio-inline"><input type="radio" title="midnight on the first of every month" ng-model="data.Schedule" name="Schedule" value="0 0 1 * *" />Monthly</label>
                    <br /><label>Custom Cron Expression<input type="text" ng-model="data.Schedule" id="Schedule" class="form-control" /></label>
                    <div id="validation_for_Schedule"></div>
                    <p class="help-block">the schedule for downloading from the source. Enter a Cron expression until I fix this.</p>
                </div>
            </div>
    
            <div class="form-group">
                <label for="EnableAggregation" class = "control-label col-md-2"> EnableAggregation </label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="data.EnableAggregation" id="EnableAggregation"  class="form-control"/>
                    <div id="validation_for_EnableAggregation"></div>
                    <p class="help-block">De-select this if this metric cannot be aggregated into less granular time frames. E.g.  daily data points such as 'unique visitors' can't be aggregated on a weekly or monthly basis.</p>
                </div>
            </div>  

    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button"  class="btn btn-primary" ng-click="save()" >Save</button>
                    <button type="button" class="btn btn-default" ng-if="cancel" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
    
    <div>
        <a href="#/Metric">Back to List</a>
    </div>
