﻿@{
    Layout = null;
}
    <h2>TenantDataSource</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{TenantDataSource}}?
            <div class="form-group">
                <label for="DataSourceType" class = "control-label col-md-2">
                 DataSourceType
                </label>
                <div class="col-md-10">
                    {{data.DataSourceType_Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Metrics" class = "control-label col-md-2">
                 Metrics
                </label>
                <div class="col-md-10">
                    {{data.Metrics_Count}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Tenant" class = "control-label col-md-2">
                 Tenant
                </label>
                <div class="col-md-10">
                    {{data.Tenant_Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Configuration" class = "control-label col-md-2">
                Configuration
                </label>
                <div class="col-md-10">
                    {{data.Configuration}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2">
                CreateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.CreateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2">
                UpdateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.UpdateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/TenantDataSource">Back to List</a>
    </div>
