﻿@{
    Layout = null;
}
<h2>Default Db TenantDataSource</h2>
<form name="theForm" ng-controller="TenantDataSource_edit_LocalDb">
    <div class="form-horizontal">
        <ul id="validationSummary"></ul>
        <div class="form-group">
            <label for="TenantId" class="control-label col-md-2"> Tenant </label>
            <div class="form-control" ng-bind="data.TenantId">
            </div>
        </div>
        <div class="form-group">
            <label for="DataSourceTypeId" class="control-label col-md-2"> DataSourceType </label>
            <div class="form-control">LocalDb</div>
        </div>
        <div class="form-group">
            <label for="Id" class="control-label col-md-2"> Id </label>

            <input type="text" ng-if="__mode==='create'" ng-model="data.Id" id="Id" class="form-control" />

            <div ng-if="__mode!=='create'" ng-bind="data.Id" class="form-control"></div>
            <p class="help-block">Enter a unique (to this tenant) identifier for this data source.</p>
            <div id="validation_for_Id"></div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" class="btn btn-primary" ng-click="save()" />
                <span ng-if="cancel">
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </span>
            </div>
        </div>
    </div>
</form>
