﻿@{
    Layout = null;
}
    <h2>Google Analytics TenantDataSource</h2>
    <form name="theForm" ng-controller="TenantDataSource_edit_GA">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="TenantId" class = "control-label col-md-2"> Tenant </label>
                <div class="form-control" ng-bind="data.TenantId">
                </div>
            </div>
            <div class="form-group">
                <label for="DataSourceTypeId" class="control-label col-md-2"> DataSourceType </label>
                <div class="form-control">GA</div>
            </div>   
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2"> Id </label>  
                <div class="col-md-10">
                    <input type="text" ng-if="__mode==='create'" ng-model="data.Id" id="Id" class="form-control" />

                    <div ng-if="__mode!=='create'" ng-bind="data.Id" class="form-control"></div>
                    <p class="help-block">Enter a unique (to this tenant) identifier for this data source.</p>
                    <div id="validation_for_Id"></div>
                </div> 
            </div>
            <div class="form-group">
                <label for="GA_AuthStrategy" class="control-label col-md-2"> Authentication </label>
                <div class="col-md-10">
                    <label><input type="radio" id="GA_AuthStrategy" name="GoogleAuthStrategy" value="service-account" checked ng-model="data.config.authStrategy" />Service Account</label>
                    
                    <p class="help-block">Connect to GA as @csgp.CentralizedAnalytics.Utility.AppSetting("google-service-account-userid"). Make sure this user has 'read&amp;analyze' permission to your GA account.</p>

                </div>
                
                
                
            </div>   
            <div class="form-group">
                <label for="GA_accountId" class="control-label col-md-2"> Account Id </label>
                
                    <input type="text" ng-model="data.config.accountId" id="GA_accountId" class="form-control" >
                    <div id="validation_for_GA_accountId"></div>
                    <p class="help-block"><a href="https://analytics.google.com/analytics/web/#management/Settings">Google Analytics</a> Account Id. Can be found on the Admin Account Settings Screen.</p>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-primary" ng-click="save()" />
                    <span ng-if="cancel">
                        <button type="button" class="btn btn-default" ng-click="cancel()" >Cancel</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
