﻿@{
    Layout = null;
}
    <h2>Tenant</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{Tenant}}?
            <div class="form-group">
                <label for="DataSources" class = "control-label col-md-2">
                 DataSources
                </label>
                <div class="col-md-10">
                    {{data.DataSources_Count}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Metrics" class = "control-label col-md-2">
                 Metrics
                </label>
                <div class="col-md-10">
                    {{data.Metrics_Count}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2">
                CreateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.CreateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2">
                UpdateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.UpdateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/Tenant">Back to List</a>
    </div>
