﻿@{
    Layout = null;
}
    <h2>TenantDataSource Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="DataSourceType" class = "control-label col-md-2">
                 DataSourceType
                </label>
                <div class="col-md-10">
                    <a ng-href="#DataSourceType/{{DataSourceType }}" >
                    {{data.DataSourceType_Id}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Metrics" class = "control-label col-md-2">
                 Metrics
                </label>
                <div class="col-md-10">
                    <a ng-href="#Metric?TenantDataSource={{data.NO_PRIMARY_KEY }}" >
                    {{data.Metrics_Count}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Tenant" class = "control-label col-md-2">
                 Tenant
                </label>
                <div class="col-md-10">
                    <a ng-href="#Tenant/{{Tenant }}" >
                    {{data.Tenant_Id}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="TenantId" class = "control-label col-md-2">
                TenantId
                </label>
                <div class="col-md-10">
                    {{data.TenantId}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2">
                Id
                </label>
                <div class="col-md-10">
                    {{data.Id}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Configuration" class = "control-label col-md-2">
                Configuration
                </label>
                <div class="col-md-10">
                    {{data.Configuration}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DataSourceTypeId" class = "control-label col-md-2">
                DataSourceTypeId
                </label>
                <div class="col-md-10">
                    {{data.DataSourceTypeId}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2">
                CreateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.CreateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2">
                UpdateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.UpdateDateUTC}}
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/TenantDataSource">Back to List</a>
    </div>
