﻿@{
    Layout = null;
}
    <h2>Tenant</h2>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Id" class = "control-label col-md-2"> Id </label>
                <div class="col-md-10">
    					<span ng-if="data.__mode==='create'">
                            <input type="text" ng-model="data.Id" id="Id" class="form-control" />
                        </span>
    					<span ng-if="data.__mode!=='create'" ng-bind="data.Id"></span>
                    <div id="validation_for_Id"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2"> Description </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Description" id="Description"  class="form-control"/>
                    <div id="validation_for_Description"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2"> CreateDateUTC </label>
                <div class="col-md-10">
    				
                    <span ng-bind="data.CreateDateUTC"></span>
                    <div id="validation_for_CreateDateUTC"></div>
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2"> UpdateDateUTC </label>
                <div class="col-md-10">
    				
                    <span ng-bind="data.UpdateDateUTC"></span>
                    <div id="validation_for_UpdateDateUTC"></div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    </form>
    
    <div>
        <a href="#/Tenant">Back to List</a>
    </div>
