﻿@{
    Layout = null;
}
    <h2>Tenant Details</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Id" class="control-label col-md-2">
                    Id
                </label>
                <div class="col-md-10">
                    {{data.Id}}
                </div>
            </div>
            
            <div class="form-group">
                <label for="DataSources" class = "control-label col-md-2">
                 DataSources
                </label>
                <div class="col-md-10">                    
                    {{data.DataSources_Count}}                    
                </div>
            </div>
    
            <div class="form-group">
                <label for="Metrics" class = "control-label col-md-2">
                 Metrics
                </label>
                <div class="col-md-10">
                    
                    {{data.Metrics_Count}}
                    
                </div>
            </div> 
            
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CreateDateUTC" class = "control-label col-md-2">
                CreateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.CreateDateUTC}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="UpdateDateUTC" class = "control-label col-md-2">
                UpdateDateUTC
                </label>
                <div class="col-md-10">
                    {{data.UpdateDateUTC}}
                </div>
            </div>
    
           
        </div>
    <div ng-controller="Tenant_TenantDataSource_list">
        <ng-include src="'/Static/TenantDataSource_List'"></ng-include>
    </div>
    <div ng-controller="TenantDataSource_Metric_list">
        <ng-include src="'/Static/Metric_List'"></ng-include>
    </div>
    <div>
        <a href="#/Tenant">Back to Tenant List</a>
    </div>
