﻿    @{
        Layout = null;
    }
    <h2>TenantDataSource</h2>
    <p>
        <ol class="breadcrumb">
            <li ng-repeat="item in dataSourceTypes">
                <button type="button" class="btn btn-sm btn-primary" data-href="#/TenantDataSource/Create" title="{{item.Description}}" ng-click="createTenantDataSource(item.Id)">Create new {{item.Id}}</button>
            </li>
        </ol>
        
    </p>
    <div class="container" ng-if="dataSourceTypeId">
        
            <ng-include src="'/Static/TenantDataSource_Edit_'+dataSourceTypeId"></ng-include>
        
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Metrics
            </th>
            <th>
                TenantId
            </th>

            <th>
                Configuration
            </th>
            <th>
                DataSourceTypeId
            </th>
            <th>
                CreateDateUTC
            </th>
            <th>
                UpdateDateUTC
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td>
                {{ item.Id }}
            </td>

            <td>
    				
                    <button class="btn btn-default btn-xs" title="show metrics" ng-click="displayMetrics(item.Id,item.TenantId)" >
                    {{item.Metrics_Count}} Metrics
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="create new metric" ng-click="createMetric(item.Id,item.TenantId,item.DataSourceTypeId)" >New Metric</button>
            </td>

            <td>
                {{ item.TenantId }}
            </td>

            <td>
                <code style="max-width:20em;overflow:auto;display:block;">{{ item.Configuration }}</code>
            </td>
            <td>
                {{ item.DataSourceTypeId }}
            </td>
            <td>
                {{ item.CreateDateUTC }}
            </td>
            <td>
                {{ item.UpdateDateUTC }}
            </td>
            <td>
                <a href="#/TenantDataSource/Edit?TenantId={{item.TenantId}}&Id={{item.Id}}">Edit</a> |
                <a href="#/TenantDataSource/Details?TenantId={{item.TenantId}}&Id={{item.Id}}">Details</a> |
                <a href="#/TenantDataSource/Delete?TenantId={{item.TenantId}}&Id={{item.Id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    
    </table>
