﻿    @{
        Layout = null;
    }
    <h2>Tenant</h2>
    <p>
        <a href="#/Tenant/Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Description
            </th>
            <th>
                DataSources
            </th>
            <th>
                Metrics
            </th>

            
            <th>
                CreateDateUTC
            </th>
            <th>
                UpdateDateUTC
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td>
                <a ng-href="#/Tenant/{{item.Id}}">{{ item.Id }}</a>
            </td>
            <td>
                <a ng-href="#/Tenant/{{item.Id}}">{{ item.Description }}</a>
            </td>
            <td>
                    
                    {{item.DataSources_Count}} DataSources
                    
            </td>
            <td>                    
                    {{item.Metrics_Count}} Metrics                    
            </td>
                        <td>
                {{ item.CreateDateUTC }}
            </td>
            <td>
                {{ item.UpdateDateUTC }}
            </td>
            <td>                
                <a ng-href="#/Tenant/Edit/{{item.Id}}">Edit</a> |
                <a ng-href="#/Tenant/Delete/{{item.Id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    
    </table>
